<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>10</integer>
			<key>Name</key>
			<string>五個一夜情</string>
		</dict>
		<dict>
			<key>ID</key>
			<integer>3</integer>
			<key>Name</key>
			<string>大把戲</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>博輔林</string>
			<key>ID</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>隨意門</string>
			<key>ID</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Name</key>
			<string>天外有天</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>男人老九</string>
			<key>ID</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>蕭遙遊</string>
			<key>ID</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
